 * {
     padding: 0;
     margin: 0;
     font-family: 'Gill Sans', 'Gill Sans MT';
     text-decoration: none;
     list-style: none;
     box-sizing: border-box;
 }

 .home {
     padding: 0 0 0 0;
 }
 

 .fundo1 {
     width: 96%;
     height: 450px;
     top: 2rem;
     left: 2rem;
     z-index: 1;
     position: relative;
     box-shadow: var(--shadow-image);
     border: 3px solid var(--clr-image-border);
 }

 .fundo2 {
     width: 96%;
     height: 450px;
     top: 4rem;
     left: 2rem;
     z-index: 1;
     position: relative;
     box-shadow: var(--shadow-image);
     border: 3px solid var(--clr-image-border);
 }

 .fundo3{
    width: 96%;
    height: 450px;
    top: 6rem;
    left: 2rem;
    z-index: 1;
    position: relative;
    box-shadow: var(--shadow-image);
    border: 3px solid var(--clr-image-border);
 }

 .parte3{
    height: 620px;
 }

 .footer {
     width: 100%;
     height: 80px;
     color: var(--clr-link);
     background-color: var(--clr-background-footer);
     box-shadow: var(--shadow-footer);
     transition: var(--transition);
     position: absolute;
     bottom: -100;
     font-size: 15px;
     padding-top: 34px;
     text-align: center;
     opacity: 1;
 }

 .obj {
     z-index: 1;
     position: absolute;
     width: 50%;
     padding: 10px;
     top: 26rem;
     left: 9rem;
     background-color: var(--clr-background);
     transition: var(--transition);
 }

 .tabela {
     z-index: 1;
     position: absolute;
     width: 50%;
     padding: 10px;
     top: 50rem;
     left: 9rem;
     background-color: var(--clr-background);
     transition: var(--transition);
 }

 .periodic{
    z-index: 1;
    position: absolute;
    width: 50%;
    padding: 10px;
    top: 84rem;
    left: 9rem;
    background-color: var(--clr-background);
    transition: var(--transition);
 }

 .tabela-link{
    position: relative;
    background-color: var(--clr-background-button);
    color: var(--clr-link);
    padding: 15px 20px;
    font-size: 15px;
    transition: var(--transition);
    border-radius: 3%;
    border: 0;
 }

 .tabela-link a{
    text-align: center;
    color: var(--clr-link);
    transition: var(--transition);
 }

 .tabela-link:hover{
    background-color: #c9d5e5;
    cursor: pointer;
    transition: var(--transition);
 }

 @media (max-width: 1024px){
    .obj{
        top: 69%;
    }

    .tabela{
        top: 138%;
    }

    .fundo1{
        width: 94%;
        left: 3%;
    }

    .fundo2{
        width: 94%;
        left: 3%;
    }

    .fundo3{
        width: 94%;
        left: 3%;
    }
 }

 @media (max-width: 768px){
    .obj{
        top: 62%;
    }

    .tabela{
        top: 119%;
    }

    .periodic{
        top: 230%;
    }

    .fundo1{
        width: 93%;
        left: 3.4%;
    }

    .fundo2{
        width: 93%;
        left: 3.4%;
    }

    .fundo3{
        width: 93%;
        left: 3.4%;
    }
    
 }

 @media (max-width: 425px){
    .obj{
        top: 55%;
        width: 70%;
        left: 11%;
    }

    .tabela{
        top: 113%;
        width: 70%;
        left: 11%;
    }

    .periodic{
        top: 227%;
        width: 70%;
        left: 11%;
    }

    .fundo1{
        width: 93%;
        left: 4.2%;
    }

    .fundo2{
        width: 93%;
        left: 4.2%;
    }

    .fundo3{
        width: 93%;
        left: 4.2%;
    }
    
    .footer{
        font-size: 12px;
    }
 }

 @media (max-width: 375px){
    .obj{
        top: 53%;
        width: 80%;
        left: 11%;
    }

    .tabela{
        top: 113%;
        width: 80%;
        left: 11%;
    }

    .periodic{
        top: 228%;
        width: 80%;
        left: 11%;
    }

    .fundo1{
        width: 93%;
        left: 4.2%;
    }

    .fundo2{
        width: 93%;
        left: 4.2%;
    }

    .fundo3{
        width: 93%;
        left: 4.2%;
    }

    .footer{
        font-size: 12px;
    }
 }

 @media (max-width: 320px){
    .obj{
        top: 36%;
        width: 70%;
        left: 11%;
    }

    .tabela{
        top: 112%;
        width: 89%;
        left: 6%;
    }

    .periodic{
        top: 222%;
        width: 77%;
        left: 11%;
    }

    .fundo1{
        width: 93%;
        left: 4.2%;
    }

    .fundo2{
        width: 93%;
        left: 4.2%;
    }

    .fundo3{
        width: 93%;
        left: 4.2%;
    }

    .footer{
        font-size: 11px;
    }
 }