 * {
     padding: 0;
     margin: 0;
     font-family: 'Gill Sans', 'Gill Sans MT';
     text-decoration: none;
     list-style: none;
     box-sizing: border-box;
 }

 .home {
     padding: 0 0 0 0;
 }
 

 .fundo1 {
     width: 96%;
     height: 450px;
     top: 2rem;
     left: 2rem;
     z-index: 1;
     position: relative;
     box-shadow: var(--shadow-image);
     border: 3px solid var(--clr-image-border);
 }

 .fundo2 {
     width: 96%;
     height: 450px;
     top: 31.5rem;
     left: 2rem;
     z-index: 1;
     position: relative;
     box-shadow: var(--shadow-image);
     border: 3px solid var(--clr-image-border);
 }

 .fundo3{
    width: 96%;
    height: 450px;
    top: 61rem;
    left: 2rem;
    z-index: 1;
    position: relative;
    box-shadow: var(--shadow-image);
    border: 3px solid var(--clr-image-border);
 }

.parte1{
    height: 10px;
    top: 2rem;
    z-index: 1;
}

.parte2{
    height: 10px;
    top: 10rem;
    z-index: 1;
}

 .parte3{
    height: 10px;
    top: 24rem;
    z-index: 1;
 }

 .footer {
     width: 100%;
     height: 80px;
     color: var(--clr-link);
     background-color: var(--clr-background-footer);
     box-shadow: var(--shadow-footer);
     transition: var(--transition);
     top: 250%;
     position: absolute;
     font-size: 15px;
     padding-top: 34px;
     text-align: center;
     opacity: 1;
 }

 .obj {
     z-index: 1;
     position: relative;
     width: 50%;
     padding: 10px;
     top: -10rem;
     left: 9rem;
     background-color: var(--clr-background);
     transition: var(--transition);
 }

 .tabela {
     z-index: 1;
     position: relative;
     width: 50%;
     padding: 10px;
     top: 13rem;
     left: 9rem;
     background-color: var(--clr-background);
     transition: var(--transition);
 }

 .periodic{
    z-index: 1;
    position: relative;
    width: 50%;
    padding: 10px;
    top: 47rem;
    left: 9rem;
    background-color: var(--clr-background);
    transition: var(--transition);
 }

 .tabela-link{
    position: relative;
    background-color: var(--clr-background-button);
    color: var(--clr-link);
    padding: 15px 20px;
    font-size: 15px;
    transition: var(--transition);
    border-radius: 3%;
    border: 0;
 }

 .tabela-link a{
    text-align: center;
    color: var(--clr-link);
    transition: var(--transition);
 }

 .tabela-link:hover{
    background-color: #c9d5e5;
    cursor: pointer;
    transition: var(--transition);
 }

 @media (max-width: 1024px){
    .obj{
        top: -10rem;
    }

    .tabela{
        top: 13rem;
    }

    .periodic{
        top: 47rem;
    }

    .footer{
        top: 285%;
    }

    .fundo1{
        width: 94%;
        left: 3%;
    }

    .fundo2{
        width: 94%;
        left: 3%;
    }

    .fundo3{
        width: 94%;
        left: 3%;
    }
 }

 @media (max-width: 768px){
    .obj{
        top: -13rem;
    }

    .tabela{
        top: 6rem;
    }

    .periodic{
        top: 45rem;
    }

    .fundo1{
        width: 93%;
        left: 3.4%;
    }

    .fundo2{
        width: 93%;
        left: 3.4%;
    }

    .fundo3{
        width: 93%;
        left: 3.4%;
    }
    
 }

 @media (max-width: 425px){
    .obj{
        top: -16rem;
        width: 70%;
        left: 3rem;
    }

    .tabela{
        top: 5rem;
        width: 70%;
        left: 3rem;
    }

    .periodic{
        top: 45rem;
        width: 70%;
        left: 3rem;
    }

    .fundo1{
        width: 93%;
        left: 4.2%;
    }

    .fundo2{
        width: 93%;
        left: 4.2%;
    }

    .fundo3{
        width: 93%;
        left: 4.2%;
    }
    
    .footer{
        font-size: 12px;
    }
 }

 @media (max-width: 375px){
    .obj{
        top: -16rem;
        width: 80%;
        left: 3rem;
    }

    .tabela{
        top: 5rem;
        width: 80%;
        left: 3rem;
    }

    .periodic{
        top: 45rem;
        width: 80%;
        left: 3rem;
    }

    .fundo1{
        width: 93%;
        left: 4.2%;
    }

    .fundo2{
        width: 93%;
        left: 4.2%;
    }

    .fundo3{
        width: 93%;
        left: 4.2%;
    }

    .footer{
        font-size: 12px;
    }
 }

 @media (max-width: 320px){
    .obj{
        top: -20rem;
        width: 80%;
        left: 2rem;
    }

    .tabela{
        top: 4rem;
        width: 85%;
        left: 1.6rem;
    }

    .periodic{
        top: 43rem;
        width: 80%;
        left: 2rem;
    }

    .fundo1{
        width: 93%;
        left: 4.2%;
    }

    .fundo2{
        width: 93%;
        left: 4.2%;
    }

    .fundo3{
        width: 93%;
        left: 4.2%;
    }

    .footer{
        font-size: 11px;
    }
 }