* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.sobre {
    padding: 0 0 0 0;
}

.parte1 {
    background-color: var(--clr-background-button);
    position: relative;
    top: 1rem;
    left: 3rem;
    width: 93%;
    height: 350px;
}

.parte2 {
    background-color: var(--clr-background-button);
    position: relative;
    margin-top: 2rem;
    left: 3rem;
    width: 93%;
    height: 800px;
    margin-bottom: 20px;
}

.logoexp {
    position: relative;
    background-color: var(--clr-background);
    width: 33%;
    height: 50%;
    border-radius: 3%;
    top: 3rem;
    left: 48rem;
}

.logo2 {
    width: 400px;
    height: 100%;
}

.exp {
    width: 50%;
    padding: 15px;
    top: 3rem;
    left: 3rem;
    border-radius: 3%;
    position: absolute;
    background-color: var(--clr-background);
}

.equipe {
    width: auto;
    padding: 10px;
    top: 3rem;
    left: 3rem;
    border-radius: 3%;
    position: absolute;
    background-color: var(--clr-background);
}

.abel {
    width: 250px;
    padding: 10px;
    display: inline-block;
    top: 10rem;
    left: 3rem;
    border-radius: 3%;
    position: absolute;
    background-color: var(--clr-background);
    text-align: center;
}

.abel1 {
    width: 176px;
    height: 160px;
    border: 3px solid var(--clr-background-button);
    border-radius: 50%;
}

.arthur {
    width: 250px;
    padding: 10px;
    display: inline-block;
    top: 10rem;
    left: 28%;
    border-radius: 3%;
    position: absolute;
    background-color: var(--clr-background);
    text-align: center;
}

.arthur1 {
    width: 176px;
    height: 160px;
    border: 3px solid var(--clr-background-button);
    border-radius: 50%;
}

.gabriel {
    width: 250px;
    padding: 10px;
    display: inline-block;
    top: 10rem;
    left: 52%;
    border-radius: 3%;
    position: absolute;
    background-color: var(--clr-background);
    text-align: center;
}

.gabriel1 {
    width: 176px;
    height: 160px;
    border: 3px solid var(--clr-background-button);
    border-radius: 50%;
}

.gabriela {
    width: 250px;
    padding: 10px;
    display: inline-block;
    top: 10rem;
    left: 76%;
    border-radius: 3%;
    position: absolute;
    background-color: var(--clr-background);
    text-align: center;
}

.gabriela1 {
    width: 176px;
    height: 160px;
    border: 3px solid var(--clr-background-button);
    border-radius: 50%;
}

.pedro {
    width: 250px;
    padding: 10px;
    display: inline-block;
    top: 29.5rem;
    left: 3rem;
    border-radius: 3%;
    position: absolute;
    background-color: var(--clr-background);
    text-align: center;
}

.pedro1 {
    width: 176px;
    height: 160px;
    border: 3px solid var(--clr-background-button);
    border-radius: 50%;
}

.samuel {
    width: 250px;
    padding: 10px;
    display: inline-block;
    top: 29.5rem;
    left: 28%;
    border-radius: 3%;
    position: absolute;
    background-color: var(--clr-background);
    text-align: center;
}

.samuel1 {
    width: 176px;
    height: 160px;
    border: 3px solid var(--clr-background-button);
    border-radius: 50%;
}


.vitor {
    width: 250px;
    padding: 10px;
    display: inline-block;
    top: 29.5rem;
    left: 52%;
    border-radius: 3%;
    position: absolute;
    background-color: var(--clr-background);
    text-align: center;
}

.vitor1 {
    width: 176px;
    height: 160px;
    border: 3px solid var(--clr-background-button);
    border-radius: 50%;
}

.yalle {
    width: 250px;
    padding: 10px;
    display: inline-block;
    top: 29.5rem;
    left: 76%;
    border-radius: 3%;
    position: absolute;
    background-color: var(--clr-background);
    text-align: center;
}

.yalle1 {
    width: 176px;
    height: 160px;
    border: 3px solid var(--clr-background-button);
    border-radius: 50%;
}

.footer {
    width: 100%;
    height: 80px;
    color: var(--clr-link);
    background-color: var(--clr-background-footer);
    box-shadow: var(--shadow-footer);
    position: absolute;
    bottom: -100;
    font-size: 15px;
    padding-top: 34px;
    text-align: center;
    opacity: 1;
}

@media (max-width: 1024px) {
    .parte2{
        height: 1130px;
    }

    .logoexp {
        top: 13.6%;
        left: 60%;
        width: 35%;
    }

    .logo2 {
        width: 330px;
        height: 100%;
    }

    .equipe {
        left: 3rem;
    }

    .abel {
        left: 3rem;
    }

    .arthur {
        left: 22.2rem;
    }

    .gabriel {
        left: 41rem;
    }

    .gabriela {
        left: 3rem;
        top: 29.5rem;
    }

    .pedro {
        left: 22.2rem;
    }

    .samuel {
        left: 41rem;
    }

    .vitor {
        left: 12.5rem;
        top: 49rem;
    }

    .yalle {
        left: 32rem;
        top: 49rem;
    }
}

@media (max-width: 768px) {
    .parte1 {
        left: 2rem;
    }

    .parte2 {
        left: 2rem;
        height: 1430px;
    }

    .exp {
        left: 2rem;
    }

    .logoexp {
        top: 13.6%;
        left: 60%;
        width: 35%;
    }

    .logo2 {
        width: 247px;
        height: 100%;
    }

    .equipe {
        left: 3rem;
        width: 28%;
    }

    .abel {
        left: 3rem;
    }

    .arthur {
        left: 26rem;
    }

    .gabriel {
        left: 3rem;
        top: 29.5rem;
    }

    .gabriela {
        left: 26rem;
        top: 29.5rem;
    }

    .pedro {
        left: 3rem;
        top: 49rem;
    }

    .samuel {
        left: 26rem;
        top: 49rem;
    }

    .vitor {
        left: 3rem;
        top: 68.5rem;
    }

    .yalle {
        left: 26rem;
        top: 68.5rem;
    }
}

@media (max-width: 660px){
    .parte1 {
        left: 2rem;
    }

    .parte2 {
        left: 2rem;
        height: 1430px;
    }

    .exp {
        top: 1rem;
        left: 2rem;
        width: 90%;
    }

    .logoexp {
        top: 45%;
        left: 28%;
        width: 46%;
    }

    .logo2 {
        width: 280px;
        height: 100%;
    }

    .equipe {
        left: 3rem;
        width: 35%;
    }

    .abel {
        left: 3rem;
    }

    .arthur {
        left: 20rem;
    }

    .gabriel {
        left: 3rem;
        top: 29.5rem;
    }

    .gabriela {
        left: 20rem;
        top: 29.5rem;
    }

    .pedro {
        left: 3rem;
        top: 49rem;
    }

    .samuel {
        left: 20rem;
        top: 49rem;
    }

    .vitor {
        left: 3rem;
        top: 68.5rem;
    }

    .yalle {
        left: 20rem;
        top: 68.5rem;
    }
}

@media (max-width: 530px){
    .parte1 {
        left: 1.2rem;
    }

    .parte2 {
        left: 1.2rem;
        height: 2680px;
    }

    .exp {
        top: 1rem;
        left: 2rem;
        width: 90%;
    }

    .logoexp {
        top: 55%;
        left: 29%;
        height: 35%;
        width: 41%;
    }

    .logo2 {
        width: 200px;
    }

    .equipe {
        left: 7.5rem;
        width: 250px;
    }

    .abel {
        left: 7.5rem;
    }

    .arthur {
        left: 7.5rem;
        top: 29.5rem;
    }

    .gabriel {
        left: 7.5rem;
        top: 49rem;
    }

    .gabriela {
        left: 7.5rem;
        top: 68.5rem;
    }

    .pedro {
        left: 7.5rem;
        top: 88rem;
    }

    .samuel {
        left: 7.5rem;
        top: 107.5rem;
    }

    .vitor {
        left: 7.5rem;
        top: 127rem;
    }

    .yalle {
        left: 7.5rem;
        top: 146.5rem;
    }
}

@media (max-width: 491px){
    .parte1 {
        left: 1.2rem;
    }

    .parte2 {
        left: 1.2rem;
        height: 2680px;
    }

    .exp {
        top: 1rem;
        left: 1.4rem;
        width: 90%;
    }

    .logoexp {
        top: 55%;
        left: 29%;
        height: 35%;
        width: 45%;
    }

    .logo2 {
        width: 200px;
    }

    .equipe {
        left: 6.5rem;
        width: 250px;
    }

    .abel {
        left: 6.5rem;
    }

    .arthur {
        left: 6.5rem;
        top: 29.5rem;
    }

    .gabriel {
        left: 6.5rem;
        top: 49rem;
    }

    .gabriela {
        left: 6.5rem;
        top: 68.5rem;
    }

    .pedro {
        left: 6.5rem;
        top: 88rem;
    }

    .samuel {
        left: 6.5rem;
        top: 107.5rem;
    }

    .vitor {
        left: 6.5rem;
        top: 127rem;
    }

    .yalle {
        left: 6.5rem;
        top: 146.5rem;
    }
}

@media (max-width: 491px){
    .parte1 {
        left: 1.2rem;
    }

    .parte2 {
        left: 1.2rem;
        height: 2680px;
    }

    .exp {
        top: 1rem;
        left: 1.4rem;
        width: 90%;
    }

    .logoexp {
        top: 58%;
        left: 26%;
        height: 35%;
        width: 52%;
    }

    .logo2 {
        width: 200px;
    }

    .equipe {
        left: 4.8rem;
        width: 250px;
    }

    .abel {
        left: 4.8rem;
    }

    .arthur {
        left: 4.8rem;
        top: 29.5rem;
    }

    .gabriel {
        left: 4.8rem;
        top: 49rem;
    }

    .gabriela {
        left: 4.8rem;
        top: 68.5rem;
    }

    .pedro {
        left: 4.8rem;
        top: 88rem;
    }

    .samuel {
        left: 4.8rem;
        top: 107.5rem;
    }

    .vitor {
        left: 4.8rem;
        top: 127rem;
    }

    .yalle {
        left: 4.8rem;
        top: 146.5rem;
    }
}

@media (max-width: 375px) {
    .parte1 {
        left: 1rem;
    }

    .parte2 {
        left: 1rem;
        height: 2680px;
    }

    .exp {
        top: 1rem;
        left: 1.3rem;
        width: 90%;
    }

    .logoexp {
        top: 70%;
        left: 6.5rem;
        width: 40.5%;
        height: 25%;
    }

    .logo2 {
        width: 140px;
        height: 80px;
    }

    .equipe {
        left: 3.3rem;
        width: 250px;
    }

    .abel {
        left: 3.3rem;
    }

    .arthur {
        left: 3.3rem;
        top: 29.5rem;
    }

    .gabriel {
        left: 3.3rem;
        top: 49rem;
    }

    .gabriela {
        left: 3.3rem;
        top: 68.5rem;
    }

    .pedro {
        left: 3.3rem;
        top: 88rem;
    }

    .samuel {
        left: 3.3rem;
        top: 107.5rem;
    }

    .vitor {
        left: 3.3rem;
        top: 127rem;
    }

    .yalle {
        left: 3.3rem;
        top: 146.5rem;
    }

    .footer {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .parte1 {
        left: 1rem;
    }

    .parte2 {
        left: 1rem;
        height: 2680px;
    }

    .exp {
        top: 1rem;
        left: 1rem;
        width: 90%;
    }

    .logoexp {
        top: 73%;
        left: 5rem;
        width: 47.5%;
        height: 24%;
    }

    .logo2 {
        width: 140px;
        height: 80px;
    }

    .equipe {
        left: 1.5rem;
        width: 250px;
    }

    .abel {
        left: 1.5rem;
    }

    .arthur {
        left: 1.5rem;
        top: 29.5rem;
    }

    .gabriel {
        left: 1.5rem;
        top: 49rem;
    }

    .gabriela {
        left: 1.5rem;
        top: 68.5rem;
    }

    .pedro {
        left: 1.5rem;
        top: 88rem;
    }

    .samuel {
        left: 1.5rem;
        top: 107.5rem;
    }

    .vitor {
        left: 1.5rem;
        top: 127rem;
    }

    .yalle {
        left: 1.5rem;
        top: 146.5rem;
    }

    .footer {
        font-size: 12px;
    }
}