* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.sobre {
    padding: 0 0 0 0;
}

.parte1 {
    background-color: var(--clr-background-button);
    position: relative;
    top: 1rem;
    left: 3rem;
    width: 93%;
    height: 350px;
}

.parte2 {
    background-color: var(--clr-background-button);
    position: relative;
    margin-top: 2rem;
    left: 3rem;
    width: 93%;
    height: 800px;
    margin-bottom: 20px;
}

.logoexp {
    position: relative;
    background-color: var(--clr-background);
    width: 33%;
    height: 50%;
    top: 3rem;
    left: 45rem;
}

.logo2 {
    width: 400px;
    height: 100%;
}

.exp {
    width: 50%;
    padding: 10px;
    top: 3rem;
    left: 5rem;
    position: absolute;
    background-color: var(--clr-background);
}

.equipe {
    width: auto;
    padding: 10px;
    top: 3rem;
    left: 5rem;
    position: absolute;
    background-color: var(--clr-background);
}

.abel {
    width: auto;
    padding: 10px;
    display: inline-block;
    top: 10rem;
    left: 5rem;
    position: absolute;
    background-color: var(--clr-background);
    text-align: center;
}

.abel1 {
    width: 176px;
    height: 160px;
    border-radius: 50%;
}

.arthur {
    width: auto;
    padding: 10px;
    display: inline-block;
    top: 10rem;
    left: 30%;
    position: absolute;
    background-color: var(--clr-background);
    text-align: center;
}

.arthur1 {
    width: 176px;
    height: 160px;
    border-radius: 50%;
}

.gabriel {
    width: auto;
    padding: 10px;
    display: inline-block;
    top: 10rem;
    left: 53.7%;
    position: absolute;
    background-color: var(--clr-background);
    text-align: center;
}

.gabriel1 {
    width: 176px;
    height: 160px;
    border-radius: 50%;
}

.gabriela {
    width: auto;
    padding: 10px;
    display: inline-block;
    top: 10rem;
    left: 77%;
    position: absolute;
    background-color: var(--clr-background);
    text-align: center;
}

.gabriela1 {
    width: 176px;
    height: 160px;
    border-radius: 50%;
}

.pedro {
    width: auto;
    padding: 10px;
    display: inline-block;
    top: 29.5rem;
    left: 5rem;
    position: absolute;
    background-color: var(--clr-background);
    text-align: center;
}

.pedro1 {
    width: 176px;
    height: 160px;
    border-radius: 50%;
}

.samuel {
    width: auto;
    padding: 10px;
    display: inline-block;
    top: 29.5rem;
    left: 30%;
    position: absolute;
    background-color: var(--clr-background);
    text-align: center;
}

.samuel1 {
    width: 176px;
    height: 160px;
    border-radius: 50%;
}


.vitor {
    width: auto;
    padding: 10px;
    display: inline-block;
    top: 29.5rem;
    left: 53.7%;
    position: absolute;
    background-color: var(--clr-background);
    text-align: center;
}

.vitor1 {
    width: 176px;
    height: 160px;
    border-radius: 50%;
}

.yalle {
    width: auto;
    padding: 10px;
    display: inline-block;
    top: 29.5rem;
    left: 77%;
    position: absolute;
    background-color: var(--clr-background);
    text-align: center;
}

.yalle1 {
    width: 176px;
    height: 160px;
    border-radius: 50%;
}

.footer {
    width: 100%;
    height: 80px;
    color: var(--clr-link);
    background-color: var(--clr-background-footer);
    box-shadow: var(--shadow-footer);
    position: absolute;
    bottom: -100;
    font-size: 15px;
    padding-top: 34px;
    text-align: center;
    opacity: 1;
}

@media (max-width: 1024px) {

    .exp {
        left: 3rem;
    }

    .logoexp {
        top: 13.6%;
        left: 60%;
        width: 35%;
    }

    .logo2 {
        width: 330px;
        height: 100%;
    }

    .equipe {
        left: 3rem;
    }

    .abel {
        left: 3rem;
    }

    .arthur {
        left: 17rem;
    }

    .gabriel {
        left: 31rem;
    }

    .gabriela {
        left: 45rem;
    }

    .pedro {
        left: 3rem;
    }

    .samuel {
        left: 17rem;
    }

    .vitor {
        left: 31rem;
    }

    .yalle {
        left: 45rem;
    }
}

@media (max-width: 768px) {
    .parte1 {
        left: 2rem;
    }

    .parte2 {
        left: 2rem;
        height: 1200px;
    }

    .exp {
        left: 2rem;
    }

    .logoexp {
        top: 13.6%;
        left: 60%;
        width: 35%;
    }

    .logo2 {
        width: 247px;
        height: 100%;
    }

    .equipe {
        left: 3rem;
        width: 28%;
    }

    .abel {
        left: 3rem;
        width: 28%;
    }

    .arthur {
        left: 17rem;
        width: 28%;
    }

    .gabriel {
        left: 31rem;
        width: 28%;
    }

    .gabriela {
        left: 3rem;
        width: 28%;
        top: 29.5rem;
    }

    .pedro {
        left: 17rem;
        width: 28%;
    }

    .samuel {
        left: 31rem;
        width: 28%;
    }

    .vitor {
        left: 9.8rem;
        width: 28%;
        top: 49rem;
    }

    .yalle {
        left: 24rem;
        width: 28%;
        top: 49rem;
    }
}

@media (max-width: 425px) {
    .parte1 {
        left: 1rem;
    }

    .parte2 {
        left: 1rem;
        height: 2700px;
    }

    .exp {
        left: 1.3rem;
        width: 90%;
    }

    .logoexp {
        top: 70%;
        left: 8rem;
        width: 36%;
        height: 25%;
    }

    .logo2 {
        width: 140px;
        height: 80px;
    }

    .equipe {
        left: 6rem;
        width: 49.5%;
    }

    .abel {
        left: 6rem;
        width: 49.5%;
        width: 49.5%;
    }

    .arthur {
        left: 6rem;
        width: 49.5%;
        top: 29.5rem;
    }

    .gabriel {
        left: 6rem;
        width: 49.5%;
        top: 49rem;
    }

    .gabriela {
        left: 6rem;
        width: 49.5%;
        top: 68.5rem;
    }

    .pedro {
        left: 6rem;
        width: 49.5%;
        top: 88rem;
    }

    .samuel {
        left: 6rem;
        width: 49.5%;
        top: 107.5rem;
    }

    .vitor {
        left: 6rem;
        width: 49.5%;
        top: 127rem;
    }

    .yalle {
        left: 6rem;
        width: 49.5%;
        top: 146.5rem;
    }

    .footer {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .parte1 {
        left: 1rem;
    }

    .parte2 {
        left: 1rem;
        height: 2700px;
    }

    .exp {
        top: 1rem;
        left: 1.3rem;
        width: 90%;
    }

    .logoexp {
        top: 70%;
        left: 6.5rem;
        width: 40.5%;
        height: 25%;
    }

    .logo2 {
        width: 140px;
        height: 80px;
    }

    .equipe {
        left: 5rem;
        width: 56.4%;
    }

    .abel {
        left: 5rem;
        width: 56.4%;
    }

    .arthur {
        left: 5rem;
        width: 56.4%;
        top: 29.5rem;
    }

    .gabriel {
        left: 5rem;
        width: 56.4%;
        top: 49rem;
    }

    .gabriela {
        left: 5rem;
        width: 56.4%;
        top: 68.5rem;
    }

    .pedro {
        left: 5rem;
        width: 56.4%;
        top: 88rem;
    }

    .samuel {
        left: 5rem;
        width: 56.4%;
        top: 107.5rem;
    }

    .vitor {
        left: 5rem;
        width: 56.4%;
        top: 127rem;
    }

    .yalle {
        left: 5rem;
        width: 56.4%;
        top: 146.5rem;
    }

    .footer {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .parte1 {
        left: 1rem;
    }

    .parte2 {
        left: 1rem;
        height: 2700px;
    }

    .exp {
        top: 1rem;
        left: 1rem;
        width: 90%;
    }

    .logoexp {
        top: 75%;
        left: 5rem;
        width: 47.5%;
        height: 24%;
    }

    .logo2 {
        width: 140px;
        height: 80px;
    }

    .equipe {
        left: 3.3rem;
        width: 66%;
    }

    .abel {
        left: 3.3rem;
        width: 66%;
        width: 66%;
    }

    .arthur {
        left: 3.3rem;
        width: 66%;
        top: 29.5rem;
    }

    .gabriel {
        left: 3.3rem;
        width: 66%;
        top: 49rem;
    }

    .gabriela {
        left: 3.3rem;
        width: 66%;
        top: 68.5rem;
    }

    .pedro {
        left: 3.3rem;
        width: 66%;
        top: 88rem;
    }

    .samuel {
        left: 3.3rem;
        width: 66%;
        top: 107.5rem;
    }

    .vitor {
        left: 3.3rem;
        width: 66%;
        top: 127rem;
    }

    .yalle {
        left: 3.3rem;
        width: 66%;
        top: 146.5rem;
    }

    .footer {
        font-size: 12px;
    }
}