* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

[data-theme="light"] {
    --clr-background: #ffffff;
    --clr-background-modal: #ffffff;
    --clr-background-button: #2d3c51;
    --clr-font: #000000;
    --clr-card: #FEE7E7;
    --clr-switch-track: #AABBCC;
    --clr-link: #708dad;

    --clr-background-nm: #80ff00;
    --clr-border-nm: #68ce03;

    --clr-background-ma: #ffae00;
    --clr-border-ma: #c48602;

    --clr-background-gn: #007fc9;
    --clr-border-gn: #007fc9;

    --clr-background-sm: #00a39098;
    --clr-border-sm: #00a39098;

    --clr-background-mat: #cabd01b2;
    --clr-border-mat: #cabd01b2;

    --clr-background-ha: #42bbfcd5;
    --clr-border-ha: #42bbfcd5;

    --clr-background-mt: #ce0303ce;
    --clr-border-mt: #ce0303ce;

    --clr-background-om: #9eafafb2;
    --clr-border-om: #9eafafb2;

    --clr-background-la: #6ea5a5;
    --clr-border-la: #579696;

    --clr-background-ac: #ff00bf6e;
    --clr-border-ac: #ff00bf6e;

    --transition: all 0.2s linear;
    --shadow-card: 5px 5px 30px 0 rgba(51, 51, 51, 30%);
}

[data-theme="dark"] {
    --clr-background: #0f0f0f;
    --clr-background-modal: #0f0f0f;
    --clr-background-button: #2d3c51;
    --clr-font: #ffffff;
    --clr-card: #0f0f0f;
    --clr-switch-track: #AABBCC;
    --clr-link: #708dad;

    --clr-background-nm: #bbff006e;
    --clr-font-nm: #b4d264;
    --clr-border-nm: #bbff006e;

    --clr-background-ma: #ffae006e;
    --clr-font-ma: #f5c864;
    --clr-border-ma: #ffae006e;

    --clr-background-gn: #00a2ff6e;
    --clr-font-gn: #64b4e1;
    --clr-border-gn: #00a2ff6e;

    --clr-background-sm: #00ffe16e;
    --clr-font-sm: #6ec8be;
    --clr-border-sm: #00ffe16e;

    --clr-background-mat: #ffee006e;
    --clr-font-mat: #f0e65a;
    --clr-border-mat: #f0e65a6e;

    --clr-background-ha: #42bbfcd5;
    --clr-font-ha: #aae1ff;
    --clr-border-ha: #aae1ff6e;

    --clr-background-mt: #ff00006e;
    --clr-font-mt: #f5afaf;
    --clr-border-mt: #f5afaf6e;

    --clr-background-om: #bed2d2b2;
    --clr-font-om: #bed2d2;
    --clr-border-om: #bed2d2b2;

    --clr-background-la: #6ea5a5;
    --clr-font-la: #96e1e1;
    --clr-border-la: #96e1e16e;

    --clr-background-ac: #ff00bf6e;
    --clr-font-ac: #e6bedc;
    --clr-border-ac: #e6bedc6e;

    --transition: all 0.2s linear;
    --shadow-card: 5px 5px 30px 0 rgba(51, 51, 51, 20%);
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    background: var(--clr-background);
    box-shadow: var(--shadow-card);
}

.menu {
    padding-right: 20px;
    cursor: pointer;
    width: 40px;
    height: 24px;
    font-size: large;
    user-select: none;
}

.material-symbols-outlined {
    color: var(--clr-font);
}

.nav_link {
    position: fixed;
    width: 93%;
    top: 5.4rem;
    left: 18px;
    color: var(--clr-link);
    background: var(--clr-background-button);
}

.nav_link a {
    display: block;
    text-align: center;
    color: var(--clr-link);
    padding: 10px 0;
    background: var(--clr-background-button);
}

.nav_link a:hover {
    background-color: #c9d5e5;
}

.hide {
    display: none;
}

.logo {
    fill: var(--clr-font);
    transition: var(--transition);
    cursor: pointer;
    width: 200px;
    height: 100px;
}

.tema {
    display: flex;
    align-items: center;
}

.switch_track {
    background-color: var(--clr-switch-track);
    display: block;
    height: 2rem;
    width: 4rem;
    border-radius: 1rem;
    cursor: pointer;
    margin: 0 .2rem;
    transition: var(--transition);
}

.switch_track::before {
    content: "";
    background-color: var(--clr-font);
    transition: var(--transition);
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    position: relative;
    left: 0;
}

.switch_track--dark::before {
    left: 2rem;
    transition: var(--transition);
}

html {
    color: var(--clr-font);
    transition: var(--transition);
}

*,
:after,
:before {
    box-sizing: border-box;
}


body {
    background-color: var(--clr-background);
    transition: var(--transition);
    padding: 10px 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

div#container {
    overflow-x: auto;
}

table {
    border: 0px;
    width: 1000px;
    height: 10px;
    border-collapse: collapse;
}

td,
tr {
    text-align: center;
    height: 74px;
    line-height: 45px;
    width: 66px;
}

.specs {
    width: 100%;
}

.nomeAtributo {
    width: 230px;
    height: 51px;
    float: left;
}

.numeroAtributo {
    width: 270px;
}

.elementos {
    width: 400px;
}

th {
    float: left;
}

.legendas {
    text-align: left;
    padding: 0 40px 10px;
    font-size: 14px;
    line-height: 1;
    -webkit-column-count: 5;
    column-count: 5;
    -webkit-column-gap: 20px;
    column-gap: 20px;
}

.legenda {
    margin: 0 10px 20px;
}

.legenda:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    border-radius: 40%;
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

@media (max-width: 1199px) {
    .legendas {
        -webkit-column-count: 4;
        column-count: 4;
        padding: 0 20px 20px;
    }
}

@media (max-width: 767px) {
    .legendas {
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 540px) {
    .legendas {
        -webkit-column-count: 2;
        column-count: 2;

    }
}

.legenda_elemento_1:before {
    background: var(--clr-background-nm);
}

.legenda_elemento_2:before {
    background: var(--clr-background-gn);
}

.legenda_elemento_3:before {
    background: var(--clr-background-ma);
}

.legenda_elemento_4:before {
    background: var(--clr-background-sm);
}

.legenda_elemento_5:before {
    background: var(--clr-background-mat);
}

.legenda_elemento_6:before {
    background: var(--clr-background-ha);
}

.legenda_elemento_7:before {
    background: var(--clr-background-mt);
}

.legenda_elemento_8:before {
    background: var(--clr-background-om);
}

.legenda_elemento_9:before {
    background: var(--clr-background-la);
}

.legenda_elemento_10:before {
    background: var(--clr-background-ac);
}


#naoMetal {
    border: 1px solid var(--clr-border-nm);
    color: var(--clr-font-nm);
    background-color: var(--clr-background-nm);
    transition: var(--transition);
    border-radius: 4px;
    outline: none;
}

#metalAlca {
    border: 1px solid var(--clr-border-ma);
    color: var(--clr-font-ma);
    background-color: var(--clr-background-ma);
    transition: var(--transition);
    border-radius: 4px;
    outline: none;
}

#semiMetal {
    border: 1px solid var(--clr-border-sm);
    color: var(--clr-font-sm);
    background-color: var(--clr-background-sm);
    transition: var(--transition);
    border-radius: 4px;
    outline: none;
}

#outroMetal {
    border: 1px solid var(--clr-border-om);
    color: var(--clr-font-om);
    background-color: var(--clr-background-om);
    transition: var(--transition);
    border-radius: 4px;
    outline: none;
}

#lantanideos {
    border: 1px solid var(--clr-border-la);
    color: var(--clr-font-la);
    background-color: var(--clr-background-la);
    transition: var(--transition);
    border-radius: 4px;
    outline: none;
}

#gasNobre {
    border: 1px solid var(--clr-border-gn);
    color: var(--clr-font-gn);
    background-color: var(--clr-background-gn);
    transition: var(--transition);
    border-radius: 4px;
    outline: none;
}

#metalAlcaTe {
    border: 1px solid var(--clr-border-mat);
    color: var(--clr-font-mat);
    background-color: var(--clr-background-mat);
    transition: var(--transition);
    border-radius: 4px;
    outline: none;
}

#halogenio {
    border: 1px solid var(--clr-border-ha);
    color: var(--clr-font-ha);
    background-color: var(--clr-background-ha);
    transition: var(--transition);
    border-radius: 4px;
    outline: none;
}

#metalTrans {
    border: 1px solid var(--clr-border-mt);
    color: var(--clr-font-mt);
    background-color: var(--clr-background-mt);
    transition: var(--transition);
    border-radius: 4px;
    outline: none;
}

#actinidios {
    border: 1px solid var(--clr-border-ac);
    color: var(--clr-font-ac);
    background-color: var(--clr-background-ac);
    transition: var(--transition);
    border-radius: 4px;
    outline: none;
}


.espaco {
    height: 30px;
}

.es {
    padding: 8px 16px;
    color: var(--clr-font);
    border-radius: 4px;
    border: none;
    width: 66px;
    height: 66px;
    position: relative;
    margin-right: 5px;
}

.modal-open {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    width: 66px;
    height: 66px;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    display: none;
    animation: modal-open .5s;
}

.modal-content {
    background-color: var(--clr-background-modal);
    margin-top: 10px;
    width: 40%;
    height: 98%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 25px;
    border-radius: 4px;
    z-index: 4;
    overflow-y: auto;
    overflow-x: hidden;
}


.modal-header-nm {
    font-weight: 500;
    padding: 10px 10px;
    border-radius: 1%;
    font-size: 26px;
    text-align: center;
    background-color: var(--clr-background-nm);
}

.modal-header-gn {
    font-weight: 500;
    padding: 10px 10px;
    font-size: 26px;
    text-align: center;
    background-color: var(--clr-background-gn);
    border-radius: 1%;
}

.modal-header-ma {
    font-weight: 500;
    padding: 10px 10px;
    font-size: 26px;
    text-align: center;
    background-color: var(--clr-background-ma);
}

.modal-header-mat {
    font-weight: 500;
    padding: 10px 10px;
    font-size: 26px;
    text-align: center;
    background-color: var(--clr-background-mat);
}

.modal-header-sm {
    font-weight: 500;
    padding: 10px 10px;
    font-size: 26px;
    text-align: center;
    background-color: var(--clr-background-sm);
}

.modal-header-h {
    font-weight: 500;
    padding: 10px 10px;
    font-size: 26px;
    text-align: center;
    background-color: var(--clr-background-ha);
}

.modal-header-om {
    font-weight: 500;
    padding: 10px 10px;
    font-size: 26px;
    text-align: center;
    background-color: var(--clr-background-om);
}

.modal-header-mt {
    font-weight: 500;
    padding: 10px 10px;
    font-size: 26px;
    text-align: center;
    background-color: var(--clr-background-mt);
}

.modal-header-l {
    font-weight: 500;
    padding: 10px 10px;
    font-size: 26px;
    text-align: center;
    background-color: var(--clr-background-la);
}

.modal-header-a {
    font-weight: 500;
    padding: 10px 10px;
    font-size: 26px;
    text-align: center;
    background-color: var(--clr-background-ac);
}

.n1-1 {
    margin-left: 28px;
}

.n1-1,
.n1-4 {
    font-size: 20px;
}

.linha {
    border-top: 1px solid gray;
}

.modal-close {
    float: right;
    justify-content: center;
    font-size: 10px;
    background: var(--clr-background);
    border: 0;
    outline: 0;
    padding: 5px 7px;
    border-radius: 50%;
    cursor: pointer;
}

.modal-body {
    padding: 15px 0;
}

.modal-footer {
    padding: 15px 0;
    text-align: center;
}

@keyframes modal-open {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



@media only screen and (max-width: 480px) {

    div#container {
        display: flex;
    }

    .linha {
        flex-direction: row;
    }

    .specs {
        width: 100%;
    }

    .modal-body {
        display: flex;
        flex-direction: row;
    }

    .modal-content {
        width: 80%;
        overflow: auto;
    }

    .nomeAtributo {
        width: 150px;
    }

    .numeroAtributo {
        width: 100px;
    }

    .menu--hidden {
        transform: translateY(-60px);
    }
}


@media screen and (max-height: 480px) {
    div#container {
        display: flex;
    }

    .menu--hidden {
        transform: translateY(-60px);
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        width: 45%;
        overflow: auto;
        height: 90%;
    }

    .specs {
        width: 100%;
    }

    .modal-close {
        position: sticky;
        float: right;
        justify-content: center;
        width: 40px;
        height: 50px;
    }

    .nomeAtributo {
        width: 200px;
    }

    .numeroAtributo {
        width: 250px;
    }

}

@media (max-width: 952px) {
    .legendas {
        -webkit-column-count: 4;
        column-count: 4;
        padding: 0 20px 20px;
    }

    .logo {
        width: 170px;
        height: 80px;
    }

}

@media (max-width: 858px) {
    .legendas {
        -webkit-column-count: 3;
        column-count: 3;
    }
    .switch_track {
        display: block;
        height: 2rem;
        width: 4rem;
        border-radius: 1rem;
    }
}

@media (min-width: 858px) {
    .nav_link {
        display: block;
        position: static;
        width: auto;
        margin-right: 70px;
        margin-left: 0px;
        color: var(--clr-link);
        background: none;
    }

    .nav_link a {
        display: inline-block;
        padding: 15px 20px;
        border-radius: 3%;
        color: var(--clr-link);
        background: var(--clr-background-button);
    }

    .menu {
        display: none;
    }
}

@media (max-width: 540px) {
    .legendas {
        -webkit-column-count: 2;
        column-count: 2;
    }
    .logo {
        width: 100px;
        height: 50px;
    }

    .checkbtn {
        display: block;
    }
}